.contribute {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}
.contribute-text {
  padding-top: 1rem;
  width: 55%;
}
.contribute-image {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 25rem;
  width: 40%;
  overflow: hidden;
}
.contribute-heading {
  font-size: 2.8rem;
}
.contribute-form{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 4rem;
  margin-bottom: 8rem;
}
input[type='text']{
  margin-bottom: 1rem;
  padding: 0.5rem 0.8rem;
  border: none;
  border: 1px solid gray;
  border-radius: 20px ;
}
.contributers-list li{
  margin-left: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
}
@media screen and (max-width: 800px) {
  .contribute{
    flex-direction: column-reverse;
  }
  .contribute-text{
    width: 100%;
  }
  .contribute-svg{
    width: 100%;
  }
  .contribute-image{
    width: 100%;
    margin: 0 auto;
    min-height: 10rem;
  }
  .contribute-sub{
    margin-top: 1rem;
  }
  .contribute-form{
    width: 90%;
  }
}